
<div class="search-bar">
    <form [formGroup]="searchForm" (ngSubmit)="ngOnSubmit(searchForm.value)">
      <input id="search" type="text" formControlName="search"/>
      <button type="submit">Procurar</button>
    </form>
  </div>