
<div class="visualizador-linhas-container">

    <div class="container-pesquisa">
      <div class="selector-numero-pagina">
        <p class="texto-container-pesquisa">Página: </p>
        <app-page-selector [dadosCriacaoPaginas]="dadosCriacaoPaginas" (selectedValue)="mudarPagina($event)"></app-page-selector>
      </div>

      <div class="pesquisa-linhas">
        <app-search-bar (searchContent)="mudarPesquisa($event)"></app-search-bar>
      </div>

      <div class="selector-tamanho-pagina">
        <p class="texto-container-pesquisa">Tamanho: </p>
        <app-size-selector (selectedValue)="mudarTamanho($event)"></app-size-selector>
      </div>

    </div>

    <div class="linhas-container">
        <div class="linha-template" *ngFor="let linha of linhas" (click)="onClickedLine(linha)">
            <p>{{linha.codigo}}</p>
            <hr>
            <p>{{linha.nome}}</p>
        </div>
    </div>

</div>