
.visualizador-percursos-container {
    display: flex;
    flex-flow: column;
  }
  
  .container-pesquisa {
    padding-top: 10px;
    display: flex;
    flex-flow: row wrap;
    grid-row-gap: 20px;
    justify-content: center;
    align-items: center;
    width: inherit;
  }

  .selector-numero-pagina {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .texto-container-pesquisa {
    margin: 0;
    color: white;
    padding-right: 3px;
  }

  .pesquisa-linhas {
    flex-grow: 1;
  }

  .selector-tamanho-pagina {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  
  .percursos-container {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;
    row-gap: 20px;
    column-gap: 20px;
  }

  .percurso-template {
    width: 90%;
    max-width: 500px;
    background-color: #242424;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
  }
  
  .codigo-percurso {
    width: 100%;
    padding-top: 5px;
    font-size: 32px;
    margin: 0;
    text-align: center;
  }
  
  .percurso-template hr {
    margin: 0;
    padding: 0;
    color: white;
  }
  
  .dados-percurso-container {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }
  
  .campo-percurso {
    flex-grow: 1;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
  }
  
  .label-percurso {
    margin: 0;
    padding-top: 5px;
    font-size: 20px;
  }