
<div class="visualizador-percursos-container">

    <div class="container-pesquisa">

      <div class="selector-numero-pagina">
        <p class="texto-container-pesquisa">Página: </p>
        <app-page-selector [dadosCriacaoPaginas]="dadosCriacaoPaginas" (selectedValue)="mudarPagina($event)"></app-page-selector>
      </div>

      <div class="pesquisa-linhas">
        <app-search-bar (searchContent)="mudarPesquisa($event)"></app-search-bar>
      </div>

      <div class="selector-tamanho-pagina">
        <p class="texto-container-pesquisa">Tamanho: </p>
        <app-size-selector (selectedValue)="mudarTamanho($event)"></app-size-selector>
      </div>

    </div>

    <div class="percursos-container">
        <div class="percurso-template" *ngFor="let percurso of percursos" (click)="onClickedPath(percurso)">
            <p class="codigo-percurso">{{percurso.codigo}}</p>
            <hr/>
            <p class="label-percurso">Percurso:</p>
            <p class="campo-percurso">{{percurso.descricao}}</p>
            <div class="dados-percurso-container">
            <p class="campo-percurso">Distância Total: {{percurso.distanciaTotal}} m</p>
            <p class="campo-percurso">Duração Total: {{percurso.duracaoTotal}} s</p>
        </div>
      </div>
    </div>

</div>