
<div class="rede">
    <div class="menu-rede-container">
        <div class="menu-rede">
            <a class="elem-menu-rede" [routerLink]="['./nos']">
                <p>Nos</p>
            </a>
            <a class="elem-menu-rede" [routerLink]="['./percursos']">
                <p>Percursos</p>
            </a>
            <a class="elem-menu-rede" [routerLink]="['./linhas']">
                <p>Linhas</p>
            </a>
            <a class="elem-menu-rede" [routerLink]="['./tiposViaturas']">
                <p>Tipos Viaturas</p>
            </a>
            <a class="elem-menu-rede" [routerLink]="['./tiposTripulantes']">
                <p>Tipos Tripulantes</p>
            </a>
            <a class="elem-menu-rede" [routerLink]="['./toda']">
                <p>Visualização</p>
            </a>
            <a class="elem-menu-rede" [routerLink]="['./importacao']">
                <p>Importação</p>
            </a>
        </div>
    </div>
    <div class="rede-displayer">
        <router-outlet></router-outlet>
    </div>
</div>