
.input-dados-segmento-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding-top: 10px;
}

.input {
    flex-basis: 45%;
    flex-grow: 1;
}

.input label {
    padding-right: 10px;
}