
<div class="adicao-segmento-container">
    <h2 mat-dialog-title>Adicionar um Segmento</h2>
    <div mat-dialog-content>
        <visualizador-nos (noClicado)="onClickedNode($event)"></visualizador-nos>
    </div>
    
    <div class="input-dados-segmento-container">
        <div class="input">
            <label for="abreviaturaNoInicial">Abreviatura do Nó Inicial:</label>
            <input type="text" [attr.disabled]="abreviaturaNoInicial !== ''? true : null" id="abreviaturaNoInicial" [ngModel]="abreviaturaNoInicial" (ngModelChange)="adicionarAbreviaturaNo($event)">
        </div>
        <div class="input">
            <label for="abreviaturaNo">Abreviatura do Nó Final:</label>
            <input type="text" id="abreviaturaNo" [ngModel]="abreviaturaNo" (ngModelChange)="adicionarAbreviaturaNo($event)">
        </div>
        <div class="input">
            <label for="duracaoSegmento">Duração do Segmento:</label>
            <input type="time" step="1" id="duracaoSegmento" (change)="adicionarDuracaoSegmento($event)">
        </div>
        <div class="input">
            <label for="distanciaSegmento">Distância do Segmento:</label>
            <input type="number" step="1" id="distanciaSegmento" [ngModel]="distanciaSegmento" (ngModelChange)="adicionarDistanciaSegmento($event)">
        </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancelarClick()">Cancelar</button>
      <button mat-button (click)="onAdicionarClick()" cdkFocusInitial>Adicionar</button>
    </div>
</div>