
<div class="visualizacao-linhas-container">

  <div class="novo-linha-button">
    <a [routerLink]="['../novaLinha']">
      <button >Nova Linha</button>
    </a>
  </div>

  <visualizador-linhas></visualizador-linhas>

</div>