
<div class="visualizador-tipos-viaturas-container">

    <div class="container-pesquisa">

      <div class="selector-numero-pagina">
        <p class="texto-container-pesquisa">Página: </p>
        <app-page-selector [dadosCriacaoPaginas]="dadosCriacaoPaginas" (selectedValue)="mudarPagina($event)"></app-page-selector>
      </div>

      <div class="pesquisa-tipos-viaturas">
        <app-search-bar (searchContent)="mudarPesquisa($event)"></app-search-bar>
      </div>

      <div class="selector-tamanho-pagina">
        <p class="texto-container-pesquisa">Tamanho: </p>
        <app-size-selector (selectedValue)="mudarTamanho($event)"></app-size-selector>
      </div>

    </div>

    <div class="tipos-viaturas-container">
        <div class="tipo-viatura-template" *ngFor="let tipoViatura of tiposViaturas" (click)="onClickedVehicleType(tipoViatura)">
            <p>{{tipoViatura.codigo}}</p>
            <hr>
            <p>{{tipoViatura.descricao}}</p>
        </div>
    </div>

</div>