
<div class="visualizacao-percursos-container">

  <div class="novo-percurso-button">
    <a [routerLink]="['../novoPercurso']">
      <button >Novo Percurso</button>
    </a>
  </div>

  <visualizador-percursos></visualizador-percursos>

</div>