
<div class="criacao-percursos-container">
    <h2>Criar um Percurso: </h2>
    <form class="criacao-percursos-form" [formGroup]="formCriacaoPercurso" (ngSubmit)="onSubmit(formCriacaoPercurso.value)">
        <div class="input">
            <label for="codigo">Código:</label>
            <input type="text" id="codigo" formControlName="codigo">
        </div>
        <div class="input-segmentos">
            <button type="button" mat-button (click)="openDialog()">Novo Segmento</button>
            <p>Segmentos: {{segmentos.length}}</p>
            <div class="template-segmentos" *ngFor="let seg of segmentos">
                <p>{{seg.abreviaturaNoInicial}} > {{seg.abreviaturaNoFinal}}, Duração: {{seg.duracao}} segundos, Distância: {{seg.distancia}} metros.</p>
                <button (click)="eliminarSegmento(seg)">Eliminar</button>
            </div>
        </div>
        <div class="input-button">
            <button class="button" type="submit">Submeter</button>
        </div>
    </form>
</div>