
<div class="visualizacao-nos-container">

  <div class="novo-no-button">
    <a [routerLink]="['../novoNo']">
      <button >Novo Nó</button>
    </a>
  </div>

  <visualizador-nos></visualizador-nos>

</div>