  
.visualizacao-nos-container {
  display: flex;
  flex-flow: column;
  width: 95%;
  margin: 0 auto;
}

.novo-no-button {
  width: initial;
}

.novo-no-button button {
  height: 30px;
  border-radius: 8px;
}