<div class="page-selector">
    <select name="page" id="page" [(ngModel)]='paginaSelecionada' (change)="onChange($event)">
        <option *ngFor="let value of values" [value]="value">{{ value }}</option>
    </select>
</div>