
<div class="importacao-container">
    <h2>Importar Conteúdo de um Ficheiro: </h2>
    <div class="importacao-form">
        <label for="ficheiro">Ficheiro:</label>
        <input type="file" id="ficheiro" (change)="onFileChange($event)">
        <button (click)="onSubmit()" type="button">Submeter</button>
    </div>

    <div class="resultados-container">
        <div class="header-resultados-container">
            <div class="importacao-template" *ngFor="let import of importacoes">
                <p>{{import.sucesso}} - {{import.mensagem}}</p>
            </div>
        </div>
    </div>

</div>
