
<div class="criacao-tipos-tripulantes-container">
    <h2>Criar um tipo de tripulante: </h2>
    <form class="criacao-tipos-tripulantes-form" [formGroup]="formCriacaoTipoTripulante" (ngSubmit)="onSubmit(formCriacaoTipoTripulante.value)">
        <div class="input">
            <label for="codigo">Código:</label>
            <input type="text" id="codigo" formControlName="codigo">
        </div>
        <div class="input-descricao">
            <label for="descricao">Descrição:</label>
            <textarea id="descricao" formControlName="descricao"></textarea>
        </div>
        <div class="input-button">
            <button class="button" type="submit">Submeter</button>
        </div>
    </form>
</div>