
.visualizador-tipos-tripulantes-container {
    display: flex;
    flex-flow: column;
  }
  
  .container-pesquisa {
    padding-top: 10px;
    display: flex;
    flex-flow: row wrap;
    grid-row-gap: 20px;
    justify-content: center;
    align-items: center;
    width: inherit;
  }

  .selector-numero-pagina {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .pesquisa-tipos-tripulantes {
    flex-grow: 1;
  }

  .texto-container-pesquisa {
    margin: 0;
    color: white;
    padding-right: 3px;
  }

  .selector-tamanho-pagina {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  
  .tipos-tripulantes-container {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;
    row-gap: 20px;
    column-gap: 20px;
  }
  
  .tipo-tripulante-template {
    display: inline-block;
    height: 150px;
    width: 90vw;
    max-width: 500px;
    background-color: #33383E;
    border-radius: 8px;
    color: white;
  }
  
  .tipo-tripulante-template hr {
    margin: 0;
    padding: 0;
  }

  .tipo-tripulante-template p {
    font-size: 18px;
    text-indent: 15px;
    margin: 15px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 0;
  }
