
<div class="visualizador-tipos-tripulantes-container">

    <div class="container-pesquisa">

      <div class="selector-numero-pagina">
        <p class="texto-container-pesquisa">Página: </p>
        <app-page-selector [dadosCriacaoPaginas]="dadosCriacaoPaginas" (selectedValue)="mudarPagina($event)"></app-page-selector>
      </div>

      <div class="pesquisa-tipos-tripulantes">
        <app-search-bar (searchContent)="mudarPesquisa($event)"></app-search-bar>
      </div>

      <div class="selector-tamanho-pagina">
        <p class="texto-container-pesquisa">Tamanho: </p>
        <app-size-selector (selectedValue)="mudarTamanho($event)"></app-size-selector>
      </div>

    </div>

    <div class="tipos-tripulantes-container">
        <div class="tipo-tripulante-template" *ngFor="let tipoTripulante of tiposTripulantes" (click)="onClickedDriverType(tipoTripulante)">
            <p>{{tipoTripulante.codigo}}</p>
            <hr>
            <p>{{tipoTripulante.descricao}}</p>
        </div>
    </div>

</div>