
<div class="criacao-nos-container">
    <h2 translate>createNode.headerMessage</h2>
    <form class="criacao-nos-form" [formGroup]="formNoCriacao" (ngSubmit)="onSubmit(formNoCriacao.value)">
        <div class="input-nos">
            <label for="tipoNo" translate>createNode.nodeTypeLabel</label>
            <select name="tipoNo" id="tipoNo" #selectElem (change)="onChange(selectElem.value)">
                <option *ngFor="let tipoNo of tiposNos; let i='index'" [value]="i">{{tipoNo.nome}}</option>
            </select>
        </div>
        <div class="input">
            <label for="abreviatura">Abreviatura:</label>
            <input type="text" id="abreviatura" formControlName="abreviatura">
        </div>
        <div class="input">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" formControlName="nome">
        </div>
        <div class="input">
            <label for="latitude">Latitude:</label>
            <input type="number" step="0.000000001" id="latitude" formControlName="latitude">
        </div>
        <div class="input">
            <label for="longitude">Longitude:</label>
            <input type="number" step="0.000000001" id="longitude" formControlName="longitude">
        </div>
        <div class="input" *ngIf="tipoNoSelecionado !== undefined && tipoNoSelecionado.temCapacidade">
            <label for="capacidade">Capacidade:</label>
            <input type="number" id="capacidade" formControlName="capacidade">
        </div>
        <div class="input-tempos" *ngIf="tipoNoSelecionado !== undefined && tipoNoSelecionado.temTempos">
            <button type="button" mat-button (click)="openDialog()">Novo Tempo</button>
            <p>Tempos de Deslocação: {{temposSelecionados.length}}</p>
            <div class="template-tempos" *ngFor="let tempo of temposSelecionados">
                <p>Demora {{tempo.tempo}} segundos para chegar a {{tempo.abreviaturaNo}}.</p>
                <button (click)="eliminarTempo(tempo)">Eliminar</button>
            </div>
        </div>
        <div class="input-button">
            <button class="button" type="submit">Submeter</button>
        </div>
    </form>
</div>