
.visualizador-nos-container {
  display: flex;
  flex-flow: column;
}

.container-pesquisa {
  padding-top: 10px;
  display: flex;
  flex-flow: row wrap;
  grid-row-gap: 20px;
  justify-content: center;
  align-items: center;
  width: inherit;
}

.selector-numero-pagina {
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.pesquisa-nos {
  flex-grow: 1;
}

.texto-container-pesquisa {
  margin: 0;
  color: white;
  padding-right: 3px;
}

.selector-tamanho-pagina {
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.nos-container {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: flex-start;
  flex-flow: row wrap;
  width: 100%;
  row-gap: 20px;
  column-gap: 20px;
}

.nos-template {
  display: inline-block;
  height: 150px;
  width: 90vw;
  max-width: 350px;
  background-color: lightgray;
  border-radius: 15px;
}

.nos-template hr {
  margin: 0;
  padding: 0;
}
  
.abreviatura {
  font-size: 24px;
  font-style: bold;
  font-family: Arial;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 0px;
  margin: 0;
}

.nome {
  font-size: 16px;
  font-style: bold;
  font-family: Arial;
  padding-top: 5px;
  padding-left: 10px;
  margin: 0;
}

.coordenadas {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 5px;
  bottom:0;
}

.capacidade {
  font-size: 16px;
  font-style: bold;
  font-family: Arial;
  padding-top: 5px;
  padding-left: 10px;
  margin: 0;
}