
<div class="visualizador-nos-container">

    <div class="container-pesquisa">

      <div class="selector-numero-pagina">
        <p class="texto-container-pesquisa">Página: </p>
        <app-page-selector [dadosCriacaoPaginas]="dadosCriacaoPaginas" (selectedValue)="mudarPagina($event)"></app-page-selector>
      </div>

      <div class="pesquisa-nos">
        <app-search-bar (searchContent)="mudarPesquisa($event)"></app-search-bar>
      </div>

      <div class="selector-tamanho-pagina">
        <p class="texto-container-pesquisa">Tamanho: </p>
        <app-size-selector (selectedValue)="mudarTamanho($event)"></app-size-selector>
      </div>

    </div>

    <div class="nos-container">
      <div class="nos-template" *ngFor="let no of nos" (click)="onClickedNode(no)">
        <div class="coordenadas">
          <p class="abreviatura">{{no.abreviatura}}</p>
          <p class="nome">{{no.tipoNo}}</p>
        </div>

        <hr />
        <p class="nome">{{no.nome}}</p>
        <div class="coordenadas">
          <p class="nome">{{no.latitude}}</p>
          <p class="nome">{{no.longitude}}</p>
        </div>

        <p class="capacidade" *ngIf="no.capacidade !== undefined">{{no.capacidade}} veículos</p>
      </div>

    </div>

</div>