
<div class="adicao-tipo-tripulante-container">
    <h2 mat-dialog-title>Adicionar um Tipo de Tripulante</h2>
    <div mat-dialog-content>
        <visualizador-tipos-tripulantes (tipoTripulanteClicada)="onClickedDriverType($event)"></visualizador-tipos-tripulantes>
    </div>
    <div class="input">
        <label for="codTipoTripulante">Código:</label>
        <input type="text" id="codTipoTripulante" [ngModel]="codTipoTripulante" (ngModelChange)="adicionarCodigoTipoTripulante($event)">
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancelarClick()">Cancelar</button>
      <button mat-button (click)="onAdicionarClick()" cdkFocusInitial>Adicionar</button>
    </div>
</div>