
<div class="criacao-tipos-viaturas-container">
    <h2>Criar um tipo de viatura: </h2>
    <form class="criacao-tipos-viaturas-form" [formGroup]="formCriacaoTipoViatura" (ngSubmit)="onSubmit(formCriacaoTipoViatura.value)">
        <div class="input-tipos-combustiveis">
            <label for="tipoComb">Tipo de Combustível:</label>
            <select name="tipoComb" id="tipoComb" formControlName="tipoComb" #selectElem (change)="onChangeTipoCombustivel(selectElem.value)">
                <option *ngFor="let tipoComb of tiposComb; let i='index'" [value]="i">{{tipoComb.descricao}}</option>
            </select>
        </div>
        <div class="input">
            <label for="codigo">Código:</label>
            <input type="text" id="codigo" formControlName="codigo">
        </div>
        <div class="input">
            <label for="autonomia">Autonomia:</label>
            <input type="number" id="autonomia" formControlName="autonomia">
        </div>
        <div class="input">
            <label for="custo">Custo:</label>
            <input type="number" step="0.01" id="custo" formControlName="custo">
        </div>
        <div class="input">
            <label for="consumo">Consumo ({{unidade}}):</label>
            <input type="number" step="0.01" id="consumo" formControlName="consumo">
        </div>
        <div class="input">
            <label for="velocidade">Velocidade Média:</label>
            <input type="number" id="velocidade" formControlName="velocidade">
        </div>
        <div class="input">
            <label for="emissoes">Emissões:</label>
            <input type="number" id="emissoes" formControlName="emissoes">
        </div>
        <div class="input-descricao">
            <label for="descricao">Descrição:</label>
            <textarea id="descricao" formControlName="descricao"></textarea>
        </div>
        <div class="input-button">
            <button class="button" type="submit">Submeter</button>
        </div>
    </form>
</div>