
.criacao-tipos-viaturas-container {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    row-gap: 20px;
    margin: 20px;
    color: white;
}

.criacao-tipos-viaturas-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    column-gap: 20px;
    row-gap: 20px;
}

.criacao-tipos-viaturas-form label {
    width:40%;
    max-width: 175px;
    padding-right: 10px;
}

.input-descricao {
    display: flex;
    flex-flow: column wrap;
    max-width: 750px;
    flex-basis: 90%;
}

.input-descricao textarea {
    resize: none;
}

.input-tipos-combustiveis {
    flex-basis: 90%;
}

.input {
    flex-basis: 45%;
    max-width: 750px;
}

.input-button {
    flex-basis: 100%;
}