
<div class="app">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/']">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/rede']">Rede</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/viagens']">Viagens</a>
        </li>
        <li class="nav-item">
          <button (click)="changeLanguage('en')">en</button>
          <button (click)="changeLanguage('pt')">pt</button>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="main">
    <router-outlet></router-outlet>
  </div>
  
  <footer class="footer">
    <div class="footer-container">
      <p>Feito por: Wow</p>
    </div>
  </footer>
</div>