
.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    flex-grow: 1;
}

.footer {
    bottom: 0;
    width: 100%;
    max-height : 200px;
    background-color: #333333;
    flex-grow: 0;
    display: block;
}

