
<div class="adicao-tipo-viatura-container">
    <h2 mat-dialog-title>Adicionar um Tipo de Viatura</h2>
    <div mat-dialog-content>
        <visualizador-tipos-viaturas (tipoViaturaClicada)="onClickedVehicleType($event)"></visualizador-tipos-viaturas>
    </div>
    <div class="input">
        <label for="codTipoViatura">Código:</label>
        <input type="text" id="codTipoViatura" [ngModel]="codTipoViatura" (ngModelChange)="adicionarCodigoTipoViatura($event)">
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancelarClick()">Cancelar</button>
      <button mat-button (click)="onAdicionarClick()" cdkFocusInitial>Adicionar</button>
    </div>
</div>