
<div class="criacao-linhas-container">
    <h2>Criar um Linha: </h2>
    <form class="criacao-linhas-form" [formGroup]="formCriacaoLinha" (ngSubmit)="onSubmit(formCriacaoLinha.value)">
        <div class="input">
            <label for="codigo">Código:</label>
            <input type="text" id="codigo" formControlName="codigo">
        </div>
        <div class="input">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" formControlName="nome">
        </div>
        <div class="input-extra">
            <button type="button" mat-button (click)="openDialogAdicaoPercursoIda()">Novo Percurso de Ida</button>
            <p>Percursos de Ida: {{percursosIda.length}}</p>
            <div class="template-percursos" *ngFor="let percurso of percursosIda">
                <p>{{percurso}}</p>
                <button (click)="eliminarPercursoIda(percurso)">Eliminar</button>
            </div>
        </div>
        <div class="input-extra">
            <button type="button" mat-button (click)="openDialogAdicaoPercursoVolta()">Novo Percurso de Volta</button>
            <p>Percursos de Volta: {{percursosVolta.length}}</p>
            <div class="template-percursos" *ngFor="let percurso of percursosVolta">
                <p>{{percurso}}</p>
                <button (click)="eliminarPercursoVolta(percurso)">Eliminar</button>
            </div>
        </div>
        <div class="input-extra">
            <button type="button" mat-button (click)="openDialogAdicaoPercursoReforco()">Novo Percurso de Reforco</button>
            <p>Percursos de Reforço: {{percursosReforco.length}}</p>
            <div class="template-percursos" *ngFor="let percurso of percursosReforco">
                <p>{{percurso}}</p>
                <button (click)="eliminarPercursoReforco(percurso)">Eliminar</button>
            </div>
        </div>
        <div class="input-extra">
            <button type="button" mat-button (click)="openDialogAdicaoPercursoVazio()">Novo Percurso Vazio</button>
            <p>Percursos Vazios: {{percursosVazio.length}}</p>
            <div class="template-percursos" *ngFor="let percurso of percursosVazio">
                <p>{{percurso}}</p>
                <button (click)="eliminarPercursoVazio(percurso)">Eliminar</button>
            </div>
        </div>
        <div class="input-extra">
            <button type="button" mat-button (click)="openDialogAdicaoTipoViatura()">Novo Tipo de Viatura</button>
            <p>Tipos de Viaturas: {{tiposViaturas.length}}</p>
            <div class="template-percursos" *ngFor="let tipoViatura of tiposViaturas">
                <p>{{tipoViatura}}</p>
                <button (click)="eliminarTipoViatura(tipoViatura)">Eliminar</button>
            </div>
        </div>
        <div class="input-radio" *ngIf="tiposViaturas.length > 0">
            <input type="radio" id="restricaoV" [value]="'RESTRICAO'" formControlName="necTipoViatura">
            <label for="restricaoV">Permitir todos os tipos de viatura exceto os selecionados</label><br>
            <input type="radio" id="permissaoV" [value]="'PERMISSAO'" formControlName="necTipoViatura">
            <label for="permissaoV">Restringir todos os tipos de viatura exceto os selecionados</label><br>
        </div>
        <div class="input-extra">
            <button type="button" mat-button (click)="openDialogAdicaoTipoTripulante()">Novo Tipo de Tripulante</button>
            <p>Tipos de Tripulantess: {{tiposTripulantes.length}}</p>
            <div class="template-percursos" *ngFor="let tipoTripulante of tiposTripulantes">
                <p>{{tipoTripulante}}</p>
                <button (click)="eliminarTipoTripulante(tipoTripulante)">Eliminar</button>
            </div>
        </div>
        <div class="input-radio" *ngIf="tiposTripulantes.length > 0">
            <input type="radio" id="restricaoT" [value]="'RESTRICAO'" formControlName="necTipoTripulante">
            <label for="restricaoT">Permitir todos os tipos de tripulantes exceto os selecionados</label><br>
            <input type="radio" id="permissaoT" [value]="'PERMISSAO'" formControlName="necTipoTripulante">
            <label for="permissaoT">Restringir todos os tipos de tripulantes exceto os selecionados</label><br>
        </div>
        <div class="input-extra">
            <button class="button" type="submit">Submeter</button>
        </div>
    </form>
</div>