/* You can add global styles to this file, and also import other style files */
html {
    position: relative;
    min-height: 100%;
}

body {
    overflow-x: hidden;
    padding: 0px;
    background-color: #1e1d1d;
    margin: 0;
    min-height: 100vh;
}