
.visualizacao-tipos-tripulantes-container {
    display: flex;
    flex-flow: column;
    width: 95%;
    margin: 0 auto;
  }

  .novo-tipo-tripulante-button {
    width: initial;
  }

  .novo-tipo-tripulante-button button {
    height: 30px;
    border-radius: 8px;
  }
