
<div class="adicao-percurso-container">
    <h2 mat-dialog-title>Adicionar um Percurso</h2>
    <div mat-dialog-content>
        <visualizador-percursos (percursoClicado)="onClickedPath($event)"></visualizador-percursos>
    </div>
    <div class="input">
        <label for="codPercurso">Codigo Percurso:</label>
        <input type="text" id="codPercurso" [ngModel]="codPercurso" (ngModelChange)="adicionarCodigoPercurso($event)">
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancelarClick()">Cancelar</button>
      <button mat-button (click)="onAdicionarClick()" cdkFocusInitial>Adicionar</button>
    </div>
</div>