
<div class="criacao-tempos-container">
    <h2 mat-dialog-title>Adicionar um Tempo de Deslocação da Tripulação</h2>
    <div mat-dialog-content>
        <visualizador-nos (noClicado)="onClickedNode($event)"></visualizador-nos>
    </div>
    
    <div class="input-dados-tempo-container">
        <div class="input">
            <label for="tempo">Duração:</label>
            <input type="time" step="1" id="tempo" (change)="adicionarTempo($event)">
        </div>
        <div class="input">
            <label for="abreviatura">Abreviatura Nó:</label>
            <input type="text" id="abreviatura" [ngModel]="abreviaturaNo" (ngModelChange)="adicionarAbreviaturaNo($event)">
        </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancelarClick()">Cancelar</button>
      <button mat-button (click)="onAdicionarClick()" cdkFocusInitial>Adicionar</button>
    </div>
</div>